<html>
  <head>
    <title>Git Server</title>
    <link rel="stylesheet" href="static/main.css">
	<meta http-equiv="refresh" content="{{ refreshFrequency }}">
    <script src="https://unpkg.com/flashy-js@latest/dist/flashy.min.js"></script>
  </head>
  <body>
    <!-- Pull the messages to flask the user (if there are any) -->
    <flash-messages data-max-messages="5"></flash-messages>

    <!-- Basic page stuff, not really that interesting -->
    <h1 class='centered'>Hello World!</h1>
	<a href='{{ url_for('backupRepo') }}'>Backup Repo</a>
	<h2>API Server: {{ apiserver }}</h2>
	<h2>API User: {{ user }}</h2>
	<h2>API Status: {{ apistatus }}</h2>
    {% if repos %}
	  <h1><strong>Backed Up Repositories</strong></h2>
      <ul>
        {% for k, v in repos.items() %}
		<li>Last commit for <strong>{{ k }}</strong>: {{ v }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <!-- Fancy JS to flash the message to the user -->
    <script>
    document.addEventListener('DOMContentLoaded', () => {
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                Flashy('flash-messages', {
                    type: '{{ category if category in ["success", "error", "warning", "info"] else "info" }}',
                    title: '{{ category | capitalize }}',
                    message: '{{ message | safe }}',
                    expiry: 9000,
                    globalClose: true
                });
            {% endfor %}
        {% endif %}
      {% endwith %}
    });
    </script>
  </body>
</html>
