<html>
  <head>
    <title>Git Server</title>
    <link rel="stylesheet" href="static/main.css">
  </head>
  <body>
    <!-- Basic page stuff, not really that interesting -->
    <h1>Github Repos</h1>
		{% if repos %}
		<form method="POST" action="{{ url_for('backupRepo') }}">
			{% for repo in repos %}
			<input type="checkbox" name='chosen_repo' value='{{ repo }}'>{{ repo }}</input><br>
			{% endfor %}
			<br>
			<label><strong>Git Pull Frequency</strong></label> <select name="pullFrequency">
				<option value="">--Please choose an option--</option>
				<option value="minutes">Minutes</option>
				<option value="hours">Hours</option>
				<option value="days">Days</option>
				<option value="weeks">Weeks</option>
			</select><br><br>
			<label><strong>Pull Interval</strong></label><input type="text" name="pull-interval"><br><br>
			<input type="submit">
		</form>
		{% else %}
		<h2>An error has occurred, please check the console</h2>
		{% endif %}
  </body>
</html>

